Repository astroband/ruby-stellar-sdk, pull requests merged in 2022-02, with the labels that each got.

#251 chore: Ruby 3.1, activesupport 7.x, bump dev gems and CI actions
  .fossa.yml
  .github/dependabot.yml
  .github/release-please-config.json
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .github/workflows/security.yml
  Gemfile
  Gemfile.lock
  base/stellar-base.gemspec
  horizon/stellar-horizon.gemspec
  sdk/lib/stellar-sdk.rb
  sdk/stellar-sdk.gemspec
Labels: dependencies

#250 feat: support muxed accounts in tx builder by default
  base/lib/stellar/transaction_builder.rb
  base/spec/lib/stellar/transaction_builder_spec.rb
Labels: enhancement, stellar-base

#258 fix: correctly serialize manage data op with empty value
  .github/workflows/ci.yml
  Gemfile
  Gemfile.lock
  base/spec/lib/stellar/operation_spec.rb
  base/stellar-base.gemspec
Labels: stellar-base, dependencies

#256 feat(sep-10): use 5 minutes grace period for challenge tx
  sdk/lib/stellar/sep10.rb
  sdk/spec/lib/stellar/sep10_spec.rb
Labels: enhancement, stellar-sdk
